/* <weight>: Use a value from 200 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */

.source-code-pro-custom {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.page-title {
    font-family: "Source Code Pro", monospace;
    text-align: center;
    color: #5e4940;
}

body {
    font-family: "Source Code Pro", monospace;
    text-align: center;
    padding: 14rem;
    font-size: 1rem; 
    color: #ff9185;
    background: linear-gradient(to bottom, #f9deb9, #fb7e7e)
}

label {
  color: #b8766b;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ff958a;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    background-color: #fdaea5;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ffa399;
}

#drink-recommendation {
    margin-top: 20rem;
    font-size: 1.2rem;
    font-weight: bold;
}

#body-two {
    font-family: "Source Code Pro", monospace;
    text-align: center;
    padding: 14rem;
    font-size: 1rem; 
    color: #ff9185;
    margin-bottom: 0;
    padding-bottom: 2rem;
    background: linear-gradient(to bottom, #f9deb9, #fb7e7e)
}

.second-title {
    font-family: "Source Code Pro", monospace;
    text-align: center;
    color: #5e4940;
    margin-bottom: 2rem;
}

.drink-1 {
    background: #fbece4;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}

#drink-1 img {
    width: 40%;
    object-fit: cover;
}

.drink-1-info {
    padding: 1.5rem;
}

.drink-1-info h2 {
    color:#5e4940;
    margin-top: 0;
}

.description {
    font-style: italic;
    margin: 0.5rem 0 1rem;
}

ul {
  padding-left: 1.2rem;
}