/* <weight>: Use a value from 200 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */

.source-code-pro-custom {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Screen switching (fade/slide effect) */
.screen {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.screen.active {
  opacity: 1;
  visibility: visible;
  position: relative;
}


/* Titles now */
.page-title,
.second-title {
    font-family: "Source Code Pro", monospace;
    text-align: center;
    color: #5e4940;
    margin-bottom: 2rem;
}

/* Body styles */
body {
    font-family: "Source Code Pro", monospace;
    text-align: center;
    padding: 3rem;
    font-size: 1rem; 
    color: #ff9185;
    margin: 0;
    background: linear-gradient(to bottom, #f9deb9, #fb7e7e)
}

label {
  color: #b8766b;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ff958a;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    background-color: #fdaea5;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

button:hover {
    background-color: #ffa399;
}

/* Drink Recommendatio grid */
.drink-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.drink-1 {
    background: #fbece4;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.drink-1:hover {
  transform: scale(1.05);
}

.drink-1 img {
    width: 40%;
    object-fit: cover;
}

.drink-1-info {
    padding: 1.5rem;
}

.drink-1-info h2 {
    color:#5e4940;
    margin-top: 0;
}

.description {
    font-style: italic;
    margin: 0.5rem 0 1rem;
}

ul {
  padding-left: 1.2rem;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: #fbece4;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #ffc2c2;
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  position: relative;
}

.close {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}
